body {
	background-color: #F9F9F9;
}

.name__presentation {
	text-align: center;
	font-size: 50px;
	margin-bottom: 5px;
}


.role__presentation {
	text-align: center;
	font-size: 25px;
	font-style: bold;
	color: #D90247;
}

.role__description {
	display: flex;
	justify-content: center;
	align-items: center;
}

.role__description p {
	margin-bottom: -25px;
}



.project__container {
	margin-top: 60px;
	background-color: #F5EFEF;
	border: 2px solid #F5EFEF;
	border-radius: 20px;
}

.project__title {
	margin-left: 60px;
	font-size: 30px;
}

.project__content {
	display: flex;
	align-items: center;
	margin-left: 60px;
	margin-bottom: 40px;
}


.project__presentation img {
	max-width: 450px;
	max-height: 450px;
	margin-right: 50px;
}

.project__presentation video {
	max-width: 450px;
	max-height: 450px;
	margin-right: 50px;
}


.projectAvailabilityTags__container {
	display: flex;
	align-items: center;
}

.projectAvailabilityTags__container i {
	display: flex;
	align-items: center;
	margin-right: 8px;
	
	border: 2px solid black;
	border-radius: 15px;
	color: white;
	cursor: pointer;
}

.projectAvailabilityTags__container .noAvailable{
	opacity: 30%;
	cursor: default;
}

.projectAvailabilityTags__container p {
	margin-left: 5px;
	margin-right: 12px;
	font-size: 8px;
}

.website__icon {
	background-color: #d8c773;
}

.about__icon {
	background-color: #d87373;
}

.sourceCode__icon {
	background-color: #73d8b5;
}

.tryItOut__icon {
	background-color: #bb73d8;
}


.project__description {
	width: 400px;
	line-height: 2;
}

.project__stack {
	list-style-type: none; /* Remove bullet points */
	max-height: 250px;
	overflow-y: scroll; 
}

.project__stack li {
	width: 210px;
	border: 2px solid black; /* Add border */
	border-radius: 10px; /* Add rounded corners */
	margin: 15px; /* Add separation between tags */
	background-color: #79D873;
	text-align: center;
	font-style: bold;
	color: white;
}




.comments__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 200px;
}

.comment__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.comment__container img {
	border-radius: 100px;
	height: 100px;
}

.comment__text {
	margin-left: 20px;	
	font-size: 13px;
	font-style: italic;
	max-width: 300px;
	height: 70px;
	border: 1px solid #F0F0F0;
	border-left-width: 20px;
	overflow-y: scroll;
}

.comment__cite { 
	opacity: 70%;
	margin-top: -10px;
	margin-right: 20px;
	font-size: 15px;
	font-style: bold;
	text-align: right;
}

.comment__cite::before {
	content: "\2014"; /* Long  slash */
	font-size: 15px;
	font-style: bold;
}





.contactMe__container {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
	margin-top: 150px;
}

.contactMe__icons__container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100px;
	gap: 50px;
}

.contactMe__container p {
	margin-right: -45px;
}

.linkedin__icon {
	color: #088AEA;
	cursor: pointer;
}

.email__icon {
	color: #D90247;
	cursor: pointer;
}

.github__icon {
	cursor: pointer;
}

.contactMe__container p {
	font-style: bold;
	font-size: 20px;
	margin-left: -50px;
}







/* Responsive mobile devices */
@media (max-width: 1000px) {
	

    .name__presentation {
        font-size: 35px;
    }

    .role__presentation {
        font-size: 20px;
    }	
		
	.role__description p {
		text-align: center;
		width: 400px;
		font-size: 3vw;
	}


	
	.projects__container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px; /* prevents touching screen edges */
	}
	
    .project__title {
		text-align: center;
        font-size: 22px;
        margin-left: 20px;
    }

    .project__content {
		display: flex;
		flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0 10px;
    }

	.project__presentation img,
	.project__presentation video {
		width: 100%;
		max-width: 450px;
		height: auto;
	}

    .project__description {
		text-align: center;
        font-size: 12px;
        width: 100%;
    }
	
	.projectMiddle__container {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.projectAvailabilityTags__container i {
		margin: auto 3px;
	}
	
	.projectAvailabilityTags__container p {
		font-size: 6px;
	}

    .project__stack {
		margin-top: -12px;
		margin-bottom: -8px;
		padding: 0;
	}




	 .comments__container {
		margin-top: -15px;
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	
	.comment__container{
		border: 1px solid white;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
	}
	
	.comment__container img {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		max-width: 70px;
		height: auto;
	}
	
	.comment__text {
		overflow-y: hidden;
		max-width: 250px;
		font-size: 11px;
	}
	
	.comment__cite {
		font-size: 11px;
	}

	
	

    .contactMe__container {
        font-size: 18px;
		margin-top: 50px;
		margin-bottom: 20px;
    }
	
    .contactMe__icons__container {
        font-size: 50px;
    }

}
