body {
	background-color: #F9F9F9;
}

.name__presentation {
	text-align: center;
	font-size: 50px;
	margin-bottom: 5px;
}


.role__presentation {
	text-align: center;
	font-size: 25px;
	font-style: bold;
	color: #D90247;
}

.role__description {
	text-align: center;
}


.project__container {
	margin-top: 60px;
	background-color: #F5EFEF;
	border: 2px solid #F5EFEF;
	border-radius: 20px;
}

.project__title {
	margin-left: 60px;
	font-size: 30px;
}

.project__content {
	display: flex;
	align-items: center;
	margin-left: 60px;
	margin-bottom: 40px;
}


.project__presentation img {
	max-width: 450px;
	max-height: 450px;
	margin-right: 50px;
}

.project__presentation video {
	max-width: 450px;
	max-height: 450px;
	margin-right: 50px;
}


.projectAvailabilityTags__container {
	display: flex;
	align-items: center;
}

.projectAvailabilityTags__container i {
	display: flex;
	align-items: center;
	margin-right: 8px;
	
	border: 2px solid black;
	border-radius: 15px;
	color: white;
	cursor: pointer;
}

.projectAvailabilityTags__container .noAvailable{
	opacity: 30%;
	cursor: default;
}

.projectAvailabilityTags__container p {
	margin-left: 5px;
	margin-right: 12px;
	font-size: 8px;
}

.website__icon {
	background-color: #bb73d8;
}

.download__icon {
	background-color: #73d8b5;
}

.sourceCode__icon {
	background-color: #d8c773;
}

.tryItOut__icon {
	background-color: #d87373;
}


.project__description {
	width: 400px;
	line-height: 2;
}

.project__stack {
	list-style-type: none; /* Remove bullet points */
	max-height: 250px;
	overflow-y: scroll; 
}

.project__stack li {
	width: 210px;
	border: 2px solid black; /* Add border */
	border-radius: 10px; /* Add rounded corners */
	margin: 15px; /* Add separation between tags */
	background-color: #79D873;
	text-align: center;
	font-style: bold;
	color: white;
}




.comments__container {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.comments__container div {
	margin-right: 50px;
	text-align: center;
	margin:auto;
}

.comments__container img {
	border-radius: 100px;
	height: 100px;
}

.blockquote {
	box-sizing: border-box;
}

.blockquote__text {
	margin-left: 20px;	
	font-size: 13px;
	font-style: italic;
	max-width: 300px;
	height: 70px;
	border: 1px solid #F0F0F0;
	border-left-width: 20px;
	overflow-y: scroll;
}

.blockquote__cite { 
	font-size: 15px;
	font-style: bold;
	text-align: right;
}

.blockquote__cite::before {
	content: "\2014"; /* Long  slash */
	font-size: 15px;
	font-style: bold;
}



/* My projects title */
.projectsList__title__container {
	display: flex;
	align-items: center;
	margin: auto;
	background-color: white;
	border: none;
	font-size: 35px;
	cursor: pointer;
	margin-top: 40px;
}

		/* Github logo on one side */
.projectsList__title__container img {
	height: 50px;
	margin-right: 15px;
}



.contactMe__container {
	text-align: center;
	
	margin-bottom: 150px;
	margin-top: 150px;
}

/* .contactMe__container img { */
	/* width: 500px; */
	/* height: 500px; */
/* } */


.contactMe__container p {
	font-style: bold;
	font-size: 20px;
	margin-left: -50px;
}

.contactMe__icons__container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: absolute; */
	
	font-size: 70px;
}

.contactMe__icons__container i {
	margin-right: 50px;
	/* position: relative; */
}

.linkedin__icon {
	color: #088AEA;
	cursor: pointer;
}

.email__icon {
	color: #D90247;
	cursor: pointer;
}

.github__icon {
	cursor: pointer;
}